@model IEnumerable<TranslatedViewModel<Collection, CollectionTranslation>>

@{
    ViewBag.Title = "Index";
}

<h2>Acervo</h2>
<hr />
@foreach (var col in Model)
{
    <div class="media">
        <a class="pull-left" href="~/Documents/Index/@Html.DisplayFor(itemModel => col.Entity.Id)">
            <img class="media-object" style="width:200px" src="~/Public/Collections/@col.Entity.LogoLocation">
        </a>
        <div class="media-body">
            <h4 class="media-heading">
                <a href="~/Documents/Index/@Html.DisplayFor(itemModel => col.Entity.Id)">
                    @Html.DisplayFor(modelItem => col.Translation.Title)
                </a>
            </h4>
            <p>
                @Html.DisplayFor(modelItem => col.Translation.Description)
            </p>
            @{
    var authors = col.Entity.Authors.ToList();
            }

            @foreach (var a in authors.Select(a => a.FirstName + " " + a.LastName))
            {
                <p style="font-size:small">
                    @Html.DisplayFor(modelItem => a)
                </p>
            }
            <p style="font-size:smaller">
                @Html.ActionLink("Informações", "Details", new { id = col.Entity.Id })
            </p>
        </div>
    </div>
}
