@model ProcessTranslation

@{
    ViewBag.Title = ProcessStrings.CreateTitleFormat;

    Layout = "~/Areas/BackOffice/Views/Shared/_EditPageLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-horizontal">

        @Html.Partial("_ProcessFields")

        @Html.Partial("_SubmitBackPartial", UiStrings.Create)
    </div>
}
