

<!-- Modal -->
<div class="modal fade" id="afsm-modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>

            <form method="post" class="modal-form" novalidate="novalidate">
                @Html.AntiForgeryToken()
                <div class="modal-body form-horizontal">
                    @*Content goes here...*@
                </div>

                <div class="modal-footer">
                    <div class="btn-group">
                        <button id="afsm-submit" type="submit" class="btn btn-primary">@UiStrings.Create</button>
                        <button id="afsm-submit-modal" type="button" class="btn btn-default" data-dismiss="modal">@UiStrings.Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    (function ($) {
        var $e,
            target,
            remote,
            list;

        $('[data-afsm-toggle="modal"]').click(function (e) {
            $e = $(e.target);
            target = $e.data('target');
            remote = $e.data('remote');
            list = $e.data('afsm-selectlist');

            $(target + ' .modal-form').attr('action', remote);

            $(target + ' .modal-body').load(remote, function (e) {
                // Parse for for validation.
                $.validator.unobtrusive.parse(target + ' .modal-form');
                $(target).modal('show');
            });
        });

        $('.modal-form').submit(function (e) {
            var $form = $(e.target);

            if ($form.valid()) {

                var options = {
                    type: $form.attr('method'),
                    url: $form.attr('action'),
                    headers: {
                        getJson: true
                    }
                }

                $.post($form.attr('action'), $form.serialize(), function (data) { // data is an array { value, text }
                    var $list = $(list),
                        i = 0;
                    $list.empty();

                    for (i; i < data.length; i++) {
                        $('<option value="' + data[i].value + '">' + data[i].text + '</option>')
                         .appendTo($list);
                    }
                });
                $(target).modal('hide');
            }
            e.preventDefault();
        });
    }(window.jQuery));
</script>