
<div class="form-inline">
    <input type="submit" value="@UiStrings.Done" class="btn btn-default" />
    @Html.ActionLink(@UiStrings.Cancel, "Index", null, htmlAttributes: new { @class = "btn btn-danger" })
</div>