@*@model IEnumerable<ArquivoSilvaMagalhaes.Models.SiteViewModels.NewsItemViewModels>

<div class="column_content">
    <h3 class="page_title">Notícias</h3>

    <table class="table">

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h1>@Html.DisplayFor(modelItem => item.Title)</h1>
                    <h3>@Html.DisplayFor(modelItem => item.Subtitle)</h3>
                    <h5>@Html.DisplayFor(modelItem => item.Heading)</h5>
                    @Html.ActionLink("Ler notícia", "Details", new { id = item.Id })
                </td>
                
            </tr>
        }

    </table>
</div>*@