@model ArquivoSilvaMagalhaes.Models.ArchiveModels.Keyword

@{
    ViewBag.Title = "DeleteLanguage";
}

<h2>Eliminar ideoma</h2>

<h3>Tem a certeza que pretende eliminar este ideoma?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar à lista", "Index")
        </div>
    }
</div>
