@model IEnumerable<ArquivoSilvaMagalhaes.Models.ArchiveModels.DocumentTranslation>

@{
    ViewBag.Title = "Index";
}

<h2>Documentos</h2>
<hr />
    @foreach (var doc in Model)
    {
        <div class="media">
            @*<li class="col-md-3 col-md-offset-0">
                <li class="media-body col-md-3">*@
            <a href="~/Images/Index/@doc.DocumentId">
                <h4 class="media-heading">@doc.Document.Title</h4>
            </a>
            <h5>@doc.Description</h5>
            <h6>@doc.Document.DocumentDate.Value.Date.Day/@doc.Document.DocumentDate.Value.Date.Month/@doc.Document.DocumentDate.Value.Date.Year</h6>
            <p style="font-size:smaller">
                @Html.ActionLink("Informações", "Details", new { id = doc.DocumentId })
            </p>
        </div>
    }

