@model IEnumerable<CollectionViewModel>


@{
    ViewBag.Title = CollectionStrings.EntityNamePlural;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@foreach (var item in Model)
{
    <div>
        @item.Translation.Title

        @Html.EnumDisplayFor(model => item.Collection.Type)
    </div>
}

