
<div class="page_content">
    <h3 class="page_title"> História</h3>
    <div class="space"> </div>
    <div class="clear"> </div>
    <p>
        Nascido a 19 de Junho de 1834 faleceu aos 62 anos, no dia 3 de Março de 1897.
        António da Silva Magalhães foi o primeiro fotógrafo tomarense e um dos primeiros em Portugal, fotografou os mais variados aspectos da cidade e do seu património,
        bem como as suas gentes. Os seus registos fotográficos são considerados uma importante fonte de informação sobre Tomar no final do século XIX.
    </p>
    <div class="space"> </div>
    <div class="clear"> </div>
    <p>
        Em 1862 abriu no nº 99 da rua Direita da Várzea Pequena (atual rua Silva Magalhães) a «Typographia Photographia Silva Magalhães», iniciando-se comercialmente na arte
        fotográfica. A empresa foi continuada pelo filho Mário Nery de Magalhães, mantendo a atividade até à década de 30 do século XX. Hoje, o nº 99 está transformado numa
        montra.
    </p>
    <div class="space"> </div>
    <div class="clear"> </div>
    <p>
        Contudo a sua vida não se restringiu à arte fotográfica, como político, foi vereador da Câmara Municipal de Tomar durante uma dezena de anos. A 2 de maio de 1880
        fundou o jornal «A Verdade» do qual era proprietário, editor e jornalista, os jornais registavam semanalmente os acontecimentos e o pulsar da sociedade. Tendo como
        redator principal, António Acácio Martins Velho, foi, no seu tempo, um dos melhores jornais da província. Defendia os princípios liberais e dedicava-se também a
        assuntos relativos ao concelho. É importante referir que o jornal sucedeu a "A Emancipação", 1º título da imprensa tomarense a ser publicado, em 1879.
    </p>
    <div class="space"> </div>
    <div class="clear"> </div>
    <p>
        Em 1894 confirmou a sua grande formação cultural fundando o Grupo Dramático Musical Silva Magalhães, onde era ator e encenador.
    </p>
    <div class="space"> </div>
    <div class="clear"> </div>
    <p>
        Foi casado com D. Maria da Piedade Rodrigues Faria e Silva, tendo o casal nove filhos, sete meninas e dois rapazes.
    </p>
</div>
