@{
    ViewBag.Title = "Historia";
}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>AFSM</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script type="text/javascript" src="../scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="../flex-slider/jquery.flexslider-min.js"></script>
    <script src="../scripts/jquery.prettyPhoto.js" type="text/javascript"></script>
    <script src="../scripts/jquery.tipsy.js" type="text/javascript"></script>
    <script src="../scripts/jquery.knob.js" type="text/javascript"></script>
    <script type="text/javascript" src="../scripts/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="../scripts/jquery.smooth-scroll.min.js"></script>
    <script type="text/javascript" src="../scripts/waypoints.min.js"></script>
    <script type="text/javascript" src="../scripts/setup.js"></script>


</head>
<body>
    <div id="wrap">
        <!-- wrapper -->
        <div id="sidebar">
            <!-- the  sidebar -->
            <!-- logo -->
            <a href="#" id="logo"> <img src="../images/logo.png" alt="" /></a>
            <a href="#" id="logo"> <img src="../images/cmt.png" alt="" /></a>
            <!-- navigation menu -->
            <ul id="navigation">
                <li><a href="../Home/Index">IN&#205;CIO</a></li>
                <li><a href="../ShowCasePhotoes">DESTAQUE</a></li>
                <li><a href="../Archives">ACERVO</a></li>
                <li><a href="../Home/Pesquisa">PESQUISA</a></li>
                <li><a href="../News">NOT&#205;CIAS</a></li>
                <li><a href="../Events">EVENTOS</a></li>
                <li><a href="#Historia" class="active">HIST&#211;RIA</a></li>
                <li><a href="../TechnicalDocuments">DOCUMENTOS T&#201;CNICOS</a></li>
                @*<li><a href="Loja">LOJA</a></li>*@
                <li><a href="../Contacts">CONTACTOS</a></li>
                <li><a href="../ReferencedLinks">LINKS &#218;TEIS</a></li>
                <li><a href="../Partnerships">PROJETOS E PARCERIAS</a></li>
            </ul>
        </div>
        <div id="container">
            <!-- page container -->


            <div class="page" id="">
                <!-- page Galeria -->

                <div class="page_content">
                    <h3 class="page_title"> História</h3>
                    <div class="space"> </div>
                    <div class="clear"> </div>
                    <p>
                        Nascido a 19 de Junho de 1834 faleceu aos 62 anos, no dia 3 de Março de 1897.
                        António da Silva Magalhães foi o primeiro fotógrafo tomarense e um dos primeiros em Portugal, fotografou os mais variados aspectos da cidade e do seu património,
                        bem como as suas gentes. Os seus registos fotográficos são considerados uma importante fonte de informação sobre Tomar no final do século XIX.
                    </p>
                    <div class="space"> </div>
                    <div class="clear"> </div>
                    <p>
                        Em 1862 abriu no nº 99 da rua Direita da Várzea Pequena (atual rua Silva Magalhães) a «Typographia Photographia Silva Magalhães», iniciando-se comercialmente na arte
                        fotográfica. A empresa foi continuada pelo filho Mário Nery de Magalhães, mantendo a atividade até à década de 30 do século XX. Hoje, o nº 99 está transformado numa
                        montra.
                    </p>
                    <div class="space"> </div>
                    <div class="clear"> </div>
                    <p>
                        Contudo a sua vida não se restringiu à arte fotográfica, como político, foi vereador da Câmara Municipal de Tomar durante uma dezena de anos. A 2 de maio de 1880
                        fundou o jornal «A Verdade» do qual era proprietário, editor e jornalista, os jornais registavam semanalmente os acontecimentos e o pulsar da sociedade. Tendo como
                        redator principal, António Acácio Martins Velho, foi, no seu tempo, um dos melhores jornais da província. Defendia os princípios liberais e dedicava-se também a
                        assuntos relativos ao concelho. É importante referir que o jornal sucedeu a "A Emancipação", 1º título da imprensa tomarense a ser publicado, em 1879.
                    </p>
                    <div class="space"> </div>
                    <div class="clear"> </div>
                    <p>
                        Em 1894 confirmou a sua grande formação cultural fundando o Grupo Dramático Musical Silva Magalhães, onde era ator e encenador.
                    </p>
                    <div class="space"> </div>
                    <div class="clear"> </div>
                    <p>
                        Foi casado com D. Maria da Piedade Rodrigues Faria e Silva, tendo o casal nove filhos, sete meninas e dois rapazes.
                    </p>

                    @*<ul id="works_filter">
                            <li><a href="#" data-filter="*" class="selected">Show All</a></li>
                            <li><a href="#" data-filter=".css">CSS</a></li>
                            <li><a href="#" data-filter=".html_php">HTML / PHP</a></li>
                            <li><a href="#" data-filter=".js">JavaScript</a></li>
                        </ul>
                        <div class="clear"> </div>
                        <div id="works">
                             works
                            <a rel="prettyPhoto[gallery]" href="images/photos/01.jpg"> <img class="work js" src="images/photos/01.jpg" alt="" /> </a><a rel="prettyPhoto[gallery]" href="images/photos/03.jpg"> <img class="work css" src="images/photos/03.jpg" alt="" /> </a><a rel="prettyPhoto[gallery]" href="images/photos/04.jpg"> <img class="work html_php" src="images/photos/04.jpg" alt="" /> </a><a rel="prettyPhoto[gallery]" href="images/photos/05.jpg"> <img class="work html_php" src="images/photos/05.jpg" alt="" /> </a><a rel="prettyPhoto[gallery]" href="images/photos/06.jpg"> <img class="work css" src="images/photos/06.jpg" alt="" /> </a><a rel="prettyPhoto[gallery]" href="images/photos/07.jpg"> <img class="work js" src="images/photos/07.jpg" alt="" /> </a><a rel="prettyPhoto[gallery]" href="images/photos/08.jpg"> <img class="work html_php" src="./images/photos/08.jpg" alt="" /> </a><a rel="prettyPhoto[gallery]" href="images/photos/09.jpg"> <img class="work js" src="images/photos/09.jpg" alt="" /> </a><a rel="prettyPhoto[gallery]" href="images/photos/10.jpg"> <img class="work html_php" src="images/photos/10.jpg" alt="" /> </a>
                        </div>
                        <div class="clear"> </div>*@
                </div>
            </div>
            <div class="footer">
                <p> &copy; 2014 AFSM</p>

            </div>
        </div>
    </div>
    <a class="gotop" href="#top">Top</a>
</body>
</html>
