<!DOCTYPE html>
<html lang="pt">
<head>
    @*<meta charset="UTF-8">
    <title>AFSM</title>*@

    @*<meta name="viewport" content="width=device-width,initial-scale=1">

    <script type="text/javascript" src="../scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="../flex-slider/jquery.flexslider-min.js"></script>
    <script src="../scripts/jquery.prettyPhoto.js" type="text/javascript"></script>
    <script src="../scripts/jquery.tipsy.js" type="text/javascript"></script>
    <script src="../scripts/jquery.knob.js" type="text/javascript"></script>
    <script type="text/javascript" src="../scripts/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="../scripts/jquery.smooth-scroll.min.js"></script>
    <script type="text/javascript" src="../scripts/waypoints.min.js"></script>
    <script type="text/javascript" src="../scripts/setup.js"></script>*@

    <style>
        .video{
            width:100%;
            min-height:400px;
            position:relative;
        }
    </style>
</head>
<body>
    <div id="wrap">
        <!-- wrapper -->
        @*<div id="sidebar">
            <!-- the  sidebar -->
            <!-- logo -->
            <a href="#" id="logo"> <img src="../images/logo.png" alt="" /></a>
            <a href="#" id="logo"> <img src="../images/cmt.png" alt="" /></a>
            <!-- navigation menu -->
            <ul id="navigation">
                <li><a href="#index" class="active">IN&#205;CIO</a></li>
                <li><a href="../ShowCasePhotoes">DESTAQUE</a></li>
                <li><a href="../Archives">ACERVO</a></li>
                <li><a href="Pesquisa">PESQUISA</a></li>
                <li><a href="../News">NOT&#205;CIAS</a></li>
                <li><a href="../Events">EVENTOS</a></li>
                <li><a href="../Home/Historia">HIST&#211;RIA</a></li>
                <li><a href="../TechnicalDocuments">DOCUMENTOS T&#201;CNICOS</a></li>
                @*<li><a href="Loja">LOJA</a></li>*@
               @* <li><a href="../Contacts">CONTACTOS</a></li>
                <li><a href="../ReferencedLinks">LINKS &#218;TEIS</a></li>
                <li><a href="../Partnerships">PROJETOS E PARCERIAS</a></li>
            </ul>
        </div>*@
        <div id="container">
            <!-- page container -->
            <div class="page" id="">
                <!-- page home -->
                <div class="page_content">
                    @*<div class="gf-slider">*@
                    
                        <iframe class="video" align="top" src="//www.youtube.com/embed/bFs0zJ9jQ-k" frameborder="0" allowfullscreen></iframe>
                    
                    @*<ul class="slides">*@
                    @*<li>*@
                    @*<img src="../images/01.jpg" alt="" />*@
                    @*<p class="flex-caption"> Texto exemplo AFSM 1</p>*@
                    @*</li>*@
                    @*<li>
                            <img src="../images/02.jpg" alt="" />
                            <p class="flex-caption"> Texto exemplo AFSM 2</p>
                        </li>
                        <li>
                            <img src="../images/03.jpg" alt="" />
                            <p class="flex-caption"> Texto exemplo AFSM 3</p>
                        </li>*@
                    @*</ul>*@
                    @*</div>*@
                    <div class="space"> </div>
                    <div class="clear"> </div>
                    <!-- lateral direita -->
                    <div class="one_half first">
                        <div class="column_content">
                            <h4> Notícias</h4>
                            <a href="../News">
                                <img src="../images/coded-with-love.png" class="left no_border" alt="" style="margin-top: 10px;
                                margin-right: 10px" />
                            </a>
                            <p>
                                <small>
                                    Todas as novidades sobre coleções, fotos, projetos e exposições.
                                </small>
                            </p>
                        </div>
                    </div>
                    <div class="one_half last">
                        <div class="column_content">
                            <h4> Eventos</h4>
                            <a href="../Events">
                                <img src="../images/responsive.png" class="left no_border" alt="" style="margin-top: 10px;
                                margin-right: 10px" />
                            </a>
                            <p>
                                <small>
                                    Exposições, atividades, eventos pedagógicos, workshops, entre outros...
                                </small>
                            </p>
                        </div>
                    </div>
                    <div class="space"> </div>
                    <div class="one_half first">
                        <div class="column_content">
                            <h4> Acervo</h4>
                            <a href="../Archives">
                                <img src="../images/for-pencil.png" class="left no_border" alt="" style="margin-top: 10px;
                                margin-right: 10px" />
                            </a>
                            <p>
                                <small>
                                    Coleções de fotografias de diversos autores contextualizadas históricamente e geográficamente.
                                </small>
                            </p>
                        </div>
                    </div>
                    <div class="one_half last">
                        <div class="column_content">
                            <h4> Destaque</h4>
                            <a href="../ShowCasePhotoes">
                                <img src="../images/customizable.png" class="left no_border" alt="" style="margin-top: 10px;
                                margin-right: 10px" />
                            </a>
                            <p>
                                <small>
                                    Fotografias em destaque com comentário de Carlos Rodante Veloso.
                                </small>
                            </p>
                        </div>
                    </div>
                    <div class="space"> </div>

                    <div class="clear"> </div>
                </div>
            </div>
            <div class="footer">
                <p> &copy; 2014 AFSM</p>
            </div>
        </div>
    </div>
</body>
</html>
