mundo

@*@model IEnumerable<ArquivoSilvaMagalhaes.Models.SiteModels.Banner>

<div class="page_content">

    @System.Threading.Thread.CurrentThread.CurrentUICulture.Name

    @*<div class="gf-slider">
  
        <ul class="slides">
            @foreach (var item in Model)
            {
                @Html.Partial("_Banner", Model);
            }
        </ul>
    </div>
    <div class="gf-slider">
        <!-- slider -->
        <ul class="slides">
            <li>
                <img src="~/images/01.jpg" alt="" />
                <p class="flex-caption"> Texto exemplo AFSM 1</p>
            </li>
            <li>
                <img src="~/images/02.jpg" alt="" />
                <p class="flex-caption"> Texto exemplo AFSM 2</p>
            </li>
            <li>
                <img src="~/images/03.jpg" alt="" />
                <p class="flex-caption"> Texto exemplo AFSM 3</p>
            </li>
        </ul>
    </div>
    <div class="one_half first">
        <div class="column_content">
            <h4> Notícias</h4>
            <a href="../NewsView">
                <img src="../images/coded-with-love.png" class="left no_border" alt="" style="margin-top: 10px;
                                margin-right: 10px" />
            </a>
            <p>
                <small>
                    Todas as novidades sobre coleções, fotos, projetos e exposições.
                </small>
            </p>
        </div>
    </div>
    <div class="one_half last">
        <div class="column_content">
            <h4> Eventos</h4>
            <a href="../EventsView">
                <img src="../images/responsive.png" class="left no_border" alt="" style="margin-top: 10px;
                                margin-right: 10px" />
            </a>
            <p>
                <small>
                    Exposições, atividades, eventos pedagógicos, workshops, entre outros...
                </small>
            </p>
        </div>
    </div>
    <div class="space"> </div>
    <div class="one_half first">
        <div class="column_content">
            <h4> Acervo</h4>
            <a href="../Archives">
                <img src="../images/for-pencil.png" class="left no_border" alt="" style="margin-top: 10px;
                                margin-right: 10px" />
            </a>
            <p>
                <small>
                    Coleções de fotografias de diversos autores contextualizadas históricamente e geográficamente.
                </small>
            </p>
        </div>
    </div>
    <div class="one_half last">
        <div class="column_content">
            <h4> Destaque</h4>
            <a href="../ShowCasePhotoes">
                <img src="../images/customizable.png" class="left no_border" alt="" style="margin-top: 10px;
                                margin-right: 10px" />
            </a>
            <p>
                <small>
                    Fotografias em destaque com comentário de Carlos Rodante Veloso.
                </small>
            </p>
        </div>
    </div>
    <div class="space"> </div>
    <div class="clear"> </div>
</div>*@
