

<div id="afsm-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#afsm-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#afsm-carousel" data-slide-to="1"></li>
        <li data-target="#afsm-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="..." alt="...">
            <div class="carousel-caption">
                ...
            </div>
        </div>
        <div class="item">
            <img src="..." alt="...">
            <div class="carousel-caption">
                ...
            </div>
        </div>
        ...
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#afsm-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#afsm-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>


<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>

<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>



@*@model IEnumerable<ArquivoSilvaMagalhaes.Models.SiteModels.Banner>

<div class="page_content">

    @System.Threading.Thread.CurrentThread.CurrentUICulture.Name

    @*<div class="gf-slider">
  
        <ul class="slides">
            @foreach (var item in Model)
            {
                @Html.Partial("_Banner", Model);
            }
        </ul>
    </div>
    <div class="gf-slider">
        <!-- slider -->
        <ul class="slides">
            <li>
                <img src="~/images/01.jpg" alt="" />
                <p class="flex-caption"> Texto exemplo AFSM 1</p>
            </li>
            <li>
                <img src="~/images/02.jpg" alt="" />
                <p class="flex-caption"> Texto exemplo AFSM 2</p>
            </li>
            <li>
                <img src="~/images/03.jpg" alt="" />
                <p class="flex-caption"> Texto exemplo AFSM 3</p>
            </li>
        </ul>
    </div>
    <div class="one_half first">
        <div class="column_content">
            <h4> Notícias</h4>
            <a href="../NewsView">
                <img src="../images/coded-with-love.png" class="left no_border" alt="" style="margin-top: 10px;
                                margin-right: 10px" />
            </a>
            <p>
                <small>
                    Todas as novidades sobre coleções, fotos, projetos e exposições.
                </small>
            </p>
        </div>
    </div>
    <div class="one_half last">
        <div class="column_content">
            <h4> Eventos</h4>
            <a href="../EventsView">
                <img src="../images/responsive.png" class="left no_border" alt="" style="margin-top: 10px;
                                margin-right: 10px" />
            </a>
            <p>
                <small>
                    Exposições, atividades, eventos pedagógicos, workshops, entre outros...
                </small>
            </p>
        </div>
    </div>
    <div class="space"> </div>
    <div class="one_half first">
        <div class="column_content">
            <h4> Acervo</h4>
            <a href="../Archives">
                <img src="../images/for-pencil.png" class="left no_border" alt="" style="margin-top: 10px;
                                margin-right: 10px" />
            </a>
            <p>
                <small>
                    Coleções de fotografias de diversos autores contextualizadas históricamente e geográficamente.
                </small>
            </p>
        </div>
    </div>
    <div class="one_half last">
        <div class="column_content">
            <h4> Destaque</h4>
            <a href="../ShowCasePhotoes">
                <img src="../images/customizable.png" class="left no_border" alt="" style="margin-top: 10px;
                                margin-right: 10px" />
            </a>
            <p>
                <small>
                    Fotografias em destaque com comentário de Carlos Rodante Veloso.
                </small>
            </p>
        </div>
    </div>
    <div class="space"> </div>
    <div class="clear"> </div>
</div>*@
