

<!-- Modal -->
<div class="modal fade" id="afsm-modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@LayoutStrings.Close</span></button>
                <p class="modal-title" id="myModalLabel">&nbsp;</p>
            </div>

            <form method="post" class="modal-form" novalidate="novalidate">
                @Html.AntiForgeryToken()
                <div class="modal-body form-horizontal">
                    @*Content goes here...*@
                </div>

                <div class="modal-footer">
                    <div class="btn-group">
                        <button id="afsm-submit" type="submit" class="btn btn-primary">@LayoutStrings.Create</button>
                        <button id="afsm-submit-modal" type="button" class="btn btn-default" data-dismiss="modal">@LayoutStrings.Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

