@{
    ViewBag.Title = "Acerca";
}

<div class="text-center">
    <h2>
        @LayoutStrings.SiteName <small>Back-office</small>
    </h2>

    <hr />

    <p>
        @LayoutStrings.AboutArchive
    </p>
</div>