@{
    ViewBag.Title = "Acerca";
}

<div class="text-center">
    <h2>
        Arquivo Fotográfico Silva Magalhães <small>Back-office</small>
    </h2>

    <hr />

    <p>
        Coisas legais que não me apetece escrever...
    </p>
</div>