@model ArquivoSilvaMagalhaes.Models.ArchiveModels.Image

@{
    ViewBag.Title = "ViewImage";
}

<h2>ViewImage</h2>

<hr />

<img class="center-block img-responsive" src="~/Public/Images/@(Model.ImageUrl)_Large.jpg">