@model IEnumerable<ArquivoSilvaMagalhaes.Models.ArchiveModels.ShowcasePhoto>

@{
    ViewBag.Title = "Index";
}
<div class="page_content">

    <div class="column_content">
        <h3 class="page_title">Fotografia em destaque</h3>
        @*<img src="../images/destaque.jpg" class="left no_border" alt="" style="margin-top: 10px;
            margin-right: 10px" />*@
        <div class="space"> </div>
        <div class="clear"> </div>

    </div>
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*<img src="@Html.DisplayFor(modelItem => item.DigitalPhotograph.FileName)"><br />*@
                    <img src="~/images/@Url.Content(item.DigitalPhotograph.FileName)" /><br />
                    @Html.ActionLink("Informações", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</div>

