<div class="btn-group">
    <button type="button" class="ql-bold btn btn-default btn-sm">
        <span class="glyphicon glyphicon-bold"></span> Negrito
    </button>
    <button type="button" class="ql-italic btn btn-default btn-sm">
        <span class="glyphicon glyphicon-italic"></span> Itálico
    </button>
</div>

<div class="btn-group">
    <button type="button" class="ql-link btn btn-default btn-sm">
        <span class="glyphicon glyphicon-link"></span>
    </button>
</div>

<div class="btn-group">
    <button type="button" class="ql-list btn btn-default btn-sm">
        <span class="glyphicon glyphicon-list"></span> Numerada
    </button>
    <button type="button" class="ql-bullet btn btn-default btn-sm">
        <span class="glyphicon glyphicon-list"></span> Simples
    </button>
</div>