@model ArquivoSilvaMagalhaes.Models.SiteModels.NewsItem
@{
    ViewBag.Title = "Delete";
}

<h2>Apagar notícia</h2>

<h3>Tem a certeza que pretende apagar esta notícia?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar á lista de notícias", "Index")
        </div>
    }
</div>
