@model AttachmentEditViewModel

@{
    Layout = null;
}

@for (var i = 0; i < Model.Attachments.Count; i++)
{
    <div>
        @Html.HiddenFor(model => model.Attachments[i].FileName)

        <div class="form-group">
            @Html.LabelFor(model => model.Attachments[i].Title, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Attachments[i].Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Attachments[i].Title, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}