@model IEnumerable<ArquivoSilvaMagalhaes.Models.SiteModels.Contact>


<div class="column_content">
    <h3 class="page_title">Arquivo Fotográfico Silva Magalhães</h3>

    <div class="space"> </div>
    <div class="clear"> </div>
</div>

<p>
    <b>  Morada: </b><br />
    Praça da República<br />
    2300-550 TOMAR<br />
</p>
<p>&nbsp;</p>

<p><b> Telefone:</b></p>
<p>249 329 800</p>
<p>&nbsp;</p>
<p><b> E-mail:</b></p>
<a href="mailto:presidencia@cm-tomar.pt" target="_blank">presidencia@cm-tomar.pt</a>


<div class="">
    <div class="column_content">
        <h3 class="page_title">Câmara Municipal de Tomar</h3>

        <div class="space"> </div>
        <div class="clear"> </div>

    </div>

    <p>
        <b> Morada: </b><br />
        Praça da República<br />
        2300-550 TOMAR<br />
    </p>
    <p>&nbsp;</p>
    <p><b> Telefone:</b></p>
    <p>249 329 800</p>

    <p>&nbsp;</p>
    <p><b> E-mail: </b></p>
    <a href="mailto:presidencia@cm-tomar.pt" target="_blank">presidencia@cm-tomar.pt</a>
</div>
