@model IEnumerable<ArquivoSilvaMagalhaes.Models.ArchiveModels.CollectionTranslation>

@{
    ViewBag.Title = "Index";
}

<h2>Acervo</h2>
<hr />

<ul class="media-list">
@foreach (var col in Model)
{
    @*<li class="media">*@
    @*<li class="col-md-3 col-md-offset-0">*@
        <li class="media-body col-md-3">
            <a href="~/Documents/Index">
                <h4 class="media-heading">@col.Title</h4>
                <img src="~/Public/Collections/@col.Collection.LogoLocation">
            </a>
        @*</li>*@
    </li>
    @*</li>*@
}
</ul>