@model IEnumerable<ArquivoSilvaMagalhaes.Models.ArchiveModels.CollectionTranslation>

@{
    ViewBag.Title = "Index";
}

<h2>Acervo</h2>
<hr />

<<<<<<< HEAD
<ul class="media-list">
=======

>>>>>>> 5190027861ef5c540ff7e60b1dd4a3fc0f8c8a47
@foreach (var col in Model)
{
    @*<li class="media">*@
    @*<li class="col-md-3 col-md-offset-0">*@
<<<<<<< HEAD
        <li class="media-body col-md-3">
            <a href="~/Documents/Index">
                <h4 class="media-heading">@col.Title</h4>
                <img src="~/Public/Collections/@col.Collection.LogoLocation">
            </a>
        @*</li>*@
    </li>
=======
    <div class="media">
        <a class="pull-left" href="~/Collections/Details/@col.Id">
            <img class="media-object" style="width:96px; height: 96px" src="~/Public/Collections/@col.LogoLocation">
        </a>
        <div class="media-body">
            <h4 class="media-heading">
                <a href="~/Collections/Details/@col.Id">
                    @Html.DisplayFor(modelItem => col.Translations[0].Title)
                </a>
            </h4>
        </div>
    </div>
>>>>>>> 5190027861ef5c540ff7e60b1dd4a3fc0f8c8a47
    @*</li>*@
    @*</li>*@
}
