@model IEnumerable<Collection>

@{
    ViewBag.Title = "Index";
}

<h2>Acervo</h2>
<hr />


<ul class="media-list">
@foreach (var col in Model)
{
    @*<li class="media">*@

    @*<li class="col-md-3 col-md-offset-0">*@
        <li class="media-body col-md-3">
            <a href="~/Collections/Details/@col.Id">
                <h4 class="media-heading">@col.Type</h4>
                <img src="~/Public/Collections/@col.LogoLocation">
            </a>
        @*</li>*@
    </li>
    @*</li>*@
}
</ul>