@model IEnumerable<ArquivoSilvaMagalhaes.Models.SiteModels.Partnership>

<div class="column_content">
    <h2 class="page_title">Projetos e Parcerias</h2>
</div>
<hr />
<ul class="media-list">
    @foreach (var item in Model)
    {
        <li class="media-body col-md-3">
            <h4>@Html.DisplayFor(modelItem => item.Name)</h4>

            <img height="150" src="~/images/@Html.DisplayFor(modelItem => item.Logo)" alt="Logotipo associado à pareceria." /><br />
            <a href="@Html.DisplayFor(modelItem => item.SiteLink)" target="_blank">Visitar Site</a>
            
            <br /><b>tel:</b> @Html.DisplayFor(modelItem => item.Contact)
            <br /><b>e-mail:</b> @Html.DisplayFor(modelItem => item.EmailAddress)
            <br />
        </li>
    }
</ul>
