@model IEnumerable<Partnership>

@{
    ViewBag.Title = PartnershipStrings.EntityNamePlural;
}

<h2>
    @PartnershipStrings.EntityNamePlural
</h2>

<hr />

<div class="row">
    @foreach (var img in Model)
    {
        <div class="col-sm-6 col-md-4">
            <a href="@img.SiteLink" target="_blank"
               class="thumbnail">
                <img src="~/Public/Partnerships/@(img.LogoFileName)" />
                <div class="caption">
                    <h4>
                        @Html.Truncate(img.Name, 30)
                    </h4>
                </div>
            </a>
        </div>
    }
</div>