<div id="afsm-overlay" class="afsm-overlay-image hidden">
    <button type="button" data-afsm-close-overlay="#afsm-overlay" class="afsm-close-overlay"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <div class="afsm-overlay-header text-center">
        @*<h2 class="afsm-overlay-title"></h2>*@
        <p class="afsm-overlay-description"></p>
    </div>
</div>

@Scripts.Render("~/Scripts/frontoffice/overlay-image.js")
