<div id="afsm-overlay" class="afsm-overlay hidden">
    <div class="afsm-overlay-container center-block">
        <div class="img-container">
            <img class="afsm-overlay-image img-responsive">
        </div>
        <div class="overlay-description">
            <p class="afsm-image-description">
            </p>
        </div>
        <div>
            <button type="button" data-afsm-close-overlay="#afsm-overlay" class="btn btn-default">@Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.Close)</button>
        </div>
    </div>
</div>
@Scripts.Render("~/Scripts/frontoffice/overlay-image.js")
