@model IEnumerable<ArquivoSilvaMagalhaes.Models.SiteModels.TechnicalDocument>


<div class="column_content">
    <h3 class="page_title">Documentos Técnicos</h3>

    <table class="table">

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Format)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language)
                </td>
                <td>
                    <a href="~/AnexosImagens/TechnicalDocuments/@Html.DisplayFor(modelItem => item.FileName)" target="_blank">ver</a>
                </td>
            </tr>
        }

    </table>
</div>
