@model ReferencedLink

@{
    ViewBag.Title = ReferencedLinkStrings.EditTitleFormat;
    Layout = "~/Areas/BackOffice/Views/Shared/_EditPageLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        
        @Html.Partial("_ReferencedLinkMainFields")
        @Html.Partial("_SubmitBackPartial", UiStrings.Create)
    </div>
    
}
