@model ArquivoSilvaMagalhaes.Models.SiteModels.TechnicalDocument

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Tem a certeza que pretende eliminar este documento?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UriPath)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UriPath)
            </dd>
       </dl>
        
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar à lista", "Index")
        </div>
  
    }
</div>
