@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pagerOptions = new PagedListRenderOptions
        {
            Display = PagedListDisplayMode.IfNeeded   
        };
}

@section head {
    @RenderSection("head", required: false)
}

@RenderBody()

@*<div class="text-center">
    @Html.PagedListPager((IPagedList)Model, (p) => Url.Action("Index", new { pageNumber = p }), pagerOptions)
</div>*@

@section scripts {
    @RenderSection("scripts", required: false)
}