@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = LayoutStrings.Error;
}

<h1 class="text-danger">@LayoutStrings.Error</h1>
<h2 class="text-danger">@Html.Raw(LayoutStrings.ErrorMessage)</h2>

