@model IEnumerable<ArquivoSilvaMagalhaes.Models.SiteModels.Partnership>

<div class="column_content">
    <h3 class="page_title">Projetos e Parcerias</h3>
</div>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td align="center">
               <b> @Html.DisplayFor(modelItem => item.Name)</b><br />
                <img height="150" src="~/images/@Html.DisplayFor(modelItem => item.Logo)" alt="Logotipo associado à pareceria."/><br />
                <a href="@Html.DisplayFor(modelItem => item.SiteLink)" target="_blank">Visitar Site</a>
            </td>
        </tr>
    }
</table>

