@model IEnumerable<ArquivoSilvaMagalhaes.Models.SiteModels.Partnership>

@{
    ViewBag.Title = "Index";
}

<div class="column_content">
    <h3 class="page_title">Projetos e Parcerias</h3>
</div>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td></td>
            <td></td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Logo)" />
            </td>
            <td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.SiteLink)" target="_blank">Visitar Site</a>
            </td>
        </tr>
    }
</table>

