@{
    ViewBag.Title = "Index";
}
<style>
    .title{
        text-align:center;
    }
</style>
<div class="title">
<h2>Arquivo Fotográfico Silva e Magalhães</h2>
<img src="../../../Public/Images/SilvaMagalhães.jpg"/>
</div>