@model ArquivoSilvaMagalhaes.Models.ArchiveModels.DigitalPhotograph

@{

    Layout = "~/Areas/BackOffice/Views/Shared/_EditPageLayout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.Partial("_DigitalPhotographFields")

        @Html.Partial("_SubmitBackPartial", UiStrings.Done)
    </div>
}

