@model IEnumerable<ApplicationUser>

@{
    Layout = "~/Areas/BackOffice/Views/Shared/_IndexPageLayout.cshtml";
    ViewBag.Title = "Utilizadores";
}

<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Edit", "Users", new { userName = item.UserName })" class="list-group-item">
            <div class="media">
                <div class="pull-left">
                    <img class="media-object" width="48" height="48" src="~/Public/Users/@item.PictureUrl" alt="@item.RealName">
                </div>

                <div class="media-body">
                    <h4 class="media-heading">@item.RealName <small>@item.UserName</small></h4>
                    <p>
                        
                    </p>
                </div>
            </div>
        </a>
    }
</div>
