@model string

<div id="afsm-fullscreen">
    <div class="embed-container">
        <iframe class="afsm-embedded-video"
                src="//www.youtube-nocookie.com/embed/@(Model)?rel=0"
                frameborder="0" allowfullscreen></iframe>
    </div>

    <img src="~/Content/Images/logo.png" height="40" class="afsm-embedded-logo" />

    <p class="afsm-embedded-description fade in">
        <input type="checkbox" id="afsm-dontshowagain" checked />
        <span>@LayoutStrings.DontShowAgain</span>

        <a href="#" id="afsm-close-overlay" class="btn btn-link">Fechar</a>
    </p>
</div>

<script type="text/javascript">
    (function ($) {
        //var hideTimeOutId;
        
        //function hideDescription() {
        //    $('.afsm-embedded-description').css('opacity', 0);
        //}

        $('body').addClass('afsm-body-noscroll');
        $('#afsm-close-overlay').click(function (e) {
            if ($('#afsm-dontshowagain').is(':checked')) {
                document.cookie = 'afsm-novideo=1';
            }

            $('#afsm-fullscreen').remove();

            $('body').removeClass('afsm-body-noscroll');
        });

        //hideTimeoutId = window.setTimeout(hideDescription, 1000);

        //$('body').mousemove(function () {
        //    window.clearTimeout(hideTimeOutId);
        //    hideTimeoutId = window.setTimeout(hideDescription, 1000);
        //    $('.afsm-embedded-description').css('opacity', 1);
        //});

    }(window.jQuery));
</script>