@model string

<div id="afsm-fullscreen" class="hidden">
    <div class="embed-container">
        <iframe class="afsm-embedded-video"
                type="text/html"
                src="https://www.youtube.com/embed/@(Model)?modestbranding=1&rel=0&showinfo=0"
                frameborder="0" allowfullscreen></iframe>
    </div>

    <img src="~/Content/Images/logo.png" height="40" class="afsm-embedded-logo" />

    <p class="afsm-embedded-description fade in">
        <input type="checkbox" id="afsm-dontshowagain" checked />
        <span>@LayoutStrings.DontShowAgain</span>

        <a href="#" id="afsm-close-overlay" class="btn btn-link">@UiStrings.Close</a>
    </p>
</div>

@Scripts.Render("~/Scripts/frontoffice/showcase-video.js")