@model string

<div id="afsm-fullscreen">
    <div class="embed-container center-block">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
                    src="//www.youtube-nocookie.com/embed/@(Model)?rel=0"
                    frameborder="0"></iframe>
        </div>
        <p>
            <input type="checkbox" id="afsm-dontshowagain" checked />
            <span>Não mostrar novamente</span>

            <a href="#" id="afsm-close-overlay" class="btn btn-link">Fechar</a>
        </p>


    </div>
</div>
<style>
    #afsm-fullscreen {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 75px;
        z-index: 10000;
        color: white;
    }

        #afsm-fullscreen > .embed-container {
            position: relative;
            width: 60%;
        }
</style>

<script type="text/javascript">
    (function ($) {
        $('#afsm-close-overlay').click(function (e) {
            if ($('#afsm-dontshowagain').is(':checked')) {
                document.cookie = 'afsm-novideo=1';
            }

            $('#afsm-fullscreen').remove();
        });
    }(window.jQuery));
</script>