@model IList<ArquivoSilvaMagalhaes.ViewModels.PortalViewModel>
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Acerca</h2>
<hr />

Aqui ficam os créditos e essas coisas todas.... a ver..