@using PagedList;
@using PagedList.Mvc; 
@model IEnumerable<ArquivoSilvaMagalhaes.Models.SiteModels.ReferencedLink>

@{
    ViewBag.Title = "Index";
}

<h2>@Html.DisplayName(ArquivoSilvaMagalhaes.Web.I18n.FrontOfficeStrings.UsefulLinks)</h2>
<div class="space"></div>
<div class="clear"></div>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a href=@Url.Content(item.Link) target="_blank">@Html.DisplayFor(modelItem => item.Link)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Translations.LastOrDefault().Description)
            </td>
        </tr>
    }
</table>

@{
    ViewBag.Title = CollectionStrings.EntityNamePlural;
    Layout = "~/Views/Shared/_IndexPageLayout.cshtml";
}