
<div class="column_content">
    <h3 class="page_title">Pesquisa</h3>
    @*<img src="../images/pesquisa.png" class="left no_border" alt="" style="margin-top: 10px;
        margin-right: 10px" />*@
    <div class="space"> </div>
    <div class="clear"> </div>

</div>
<p> <small>Aqui aparecem os resultados em links ou uma grelha por exemplo.</small></p>
