
<div class="column_content">
    <h3 class="page_title">Loja</h3>
    <img src="../images/artigo.png" class="left no_border" alt="" style="margin-top: 10px;
                                margin-right: 10px" />
    <div class="space"> </div>
    <div class="clear"> </div>

</div>

<p>Descrição do artigo</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Para efectuar a compra do mesmo contacte-nos por email ou telefone</p>

