@model IEnumerable<ArquivoSilvaMagalhaes.Models.ArchiveModels.DigitalPhotograph>

<h2>Fotografias</h2>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="~/images/@Url.Content(item.FileName)" />
        </td>
        <td>
            @Html.ActionLink("Informações", "Details", new { id=item.Id })
        </td>
    </tr>
}   
