@model AuthorEditModel
@{
    ViewBag.Title = "AddLanguage";
}

<h2>AddLanguage</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.Id)

        @Html.Partial("_AuthorI18nPartial")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}