
@{
    ViewBag.Title = "A terminar a inserção de conteúdo";
}

<h2>A terminar a inserção de conteúdo</h2>

<p>Deseja Adicionar os conteúdos noutra linguagem?</p>

@Html.ActionLink("Sim", "AddLanguage", new { authorId = ViewBag.AuthorId })
@Html.ActionLink("Não", "Index")

